* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 1em;
  color: #ccc;
  font-weight: 200;
}

div {
  width: 190px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -95px;
  margin-top: -65px;
}

h3 {
  font-weight: 100;
  font-size: 28px;
  color: #ccc;
  line-height: 36px;
  margin-bottom: 1em;
}

form {
  width: auto;
}
form.success input {
  color: #8CE62C;
  border-color: #8CE62C;
}

input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  width: 40px;
  height: 50px;
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  margin-right: 10px;
  outline: 0;
  font-size: 28px;
  color: #ccc;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
input:last-child {
  margin-right: 0;
}
input:hover {
  color: #9B9B9B;
}
input:focus {
  color: #0091FF;
  border-color: #0091FF;
}

.hint {
  display: none;
}

ul {
  padding-top: 2em;
  clear: both;
}
ul li {
  list-style-type: none;
}

strong {
  color: #777;
  font-weight: 200;
}